.App {
  text-align: center;
}
.title {
  padding : 12px;
  font-size : 25px;
  font-weight: bolder;
  font-style:normal;
  font-family :Arial, Helvetica, sans-serif;
  background-color: rgb(0, 0, 0);
  color: white;
  }
  .nav-styles{
    padding : 12px;
    background-color: rgb(0, 0, 0);
    display: flex;
    gap :0.5rem;
  }
  .user-content{
    margin : 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    
  }

  .btn{
    padding: 10px;
    margin : 5px;
    border : none;
    border-radius: 5px;
    cursor: pointer;
    font-size : 12px;
  }

  .nav-buttons{
    border: 1px solid white;
    color: white;
    padding : 12px;
    border-radius : 5px;
    background-color: inherit;
  }
  .nav-buttons:hover{
    background-color: rgb(255, 255, 255);
    color : rgb(0, 0, 0);
  }
  .card-btn:hover{
    background-color: rgb(0, 0, 0);
    color : white;
  }
  
  .del-btn:hover{
    background-color: crimson;
    color : white;
     }

     .footer{
      background-color: #d8d8d8;
      width : auto;
      padding: 15px;
    }

    .footer-button{
      width:100%;
    }

    .field{
      margin: 15px;
      display: grid;
      gap : 0.5rem
    }
